
<br/>
<div class="container-fluid"> <!-- pega a pagina inteira com fluid -->
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="perfil"> <!-- define qual o grupo do formulário que tá utilizando conforme criado no ts -->
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Entre com o nome">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome:</label>
          <input formControlName="sobrenome" type="text" class="form-control" id="sobrenome"
                 placeholder="Entre com o sobrenome">
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data Nascimento:</label>
          <input formControlName="dataNascimento" type="text" class="form-control" id="dataNascimento"
                 placeholder="Entre com a data de nascimento">
        </div>
        <div class="form-group">
          <label for="nomeMae">Nome Mãe:</label>
          <input formControlName="nomeMae" type="text" class="form-control" id="nomeMae"
                 placeholder="Entre com o nome da sua Mãe"/>
          <!-- formControlName permite capturar qual dado será manipulado -->
        </div>
      </form>

      <button (click)="obter()" type="submit" class="btn btn-primary">Obter dados</button>
      <pre>
        {{ data | json }}
      </pre>
    </div>
  </div>
</div>


<!--
 Charles Franca
 Bootstrap Grid primeiros passos
 https://www.youtube.com/watch?v=2tt9ohtHkaU&list=PLE4aWcuKhzAAaHWQoX-uDe8uL4uTqYh49&index=2
 https://getbootstrap.com/docs/4.0/components/forms/
 -->
