
<br/>
<div class="container-fluid"> <!-- pega a pagina inteira com fluid -->
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="perfil"> <!-- define qual o grupo do formulário que tá utilizando conforme criado no ts -->
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input class="form-control" formControlName="nome" id="nome" placeholder="Entre com o nome" type="text">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome:</label>
          <input class="form-control" formControlName="sobrenome" id="sobrenome" placeholder="Entre com o sobrenome"
                 type="text">
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data Nascimento:</label>
          <input class="form-control" formControlName="dataNascimento" id="dataNascimento" placeholder="Entre com a data de nascimento"
                 type="text">
        </div>
        <div class="form-group">
          <label for="nomeMae">Nome Mãe:</label>
          <input class="form-control" formControlName="nomeMae" id="nomeMae" placeholder="Entre com o nome da sua Mãe"
                 type="text"/>
          <!-- formControlName permite capturar qual dado será manipulado -->
        </div>
      </form>

      <button (click)="obter()" class="btn btn-primary" type="submit">Obter dados</button>
      <pre>
        {{ data | json }}
      </pre>
    </div>
  </div>
</div>

<ngb-rating [(rate)]="currentRate"></ngb-rating>
<hr>
<pre>Rate: <b>{{currentRate}}</b></pre>

<p>Custom rating template provided as child element</p>

<ngb-rating [(rate)]="currentRate">
  <ng-template let-fill="fill" let-index="index">
    <span [class.bad]="index < 3" [class.filled]="fill === 100" class="star">&#9733;</span>
  </ng-template>
</ngb-rating>
<hr>
<pre>Rate: <b>{{currentRate}}</b></pre>
<!--
 Charles Franca
 Bootstrap Grid primeiros passos
 https://www.youtube.com/watch?v=2tt9ohtHkaU&list=PLE4aWcuKhzAAaHWQoX-uDe8uL4uTqYh49&index=2
 https://getbootstrap.com/docs/4.0/components/forms/
 https://ng-bootstrap.github.io/#/components/rating/examples
 -->
