/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/**
Charles Franca:
Configurando o bootstrap no projeto
https://www.youtube.com/watch?v=ZwgeWSU7BPM&list=PLE4aWcuKhzAAaHWQoX-uDe8uL4uTqYh49&index=2&t=0s
 https://gitlab.com/cursosangular
 https://gitlab.com/cursosangular/angularbootstrap
 */
