<div class="table table-hover">
  <tr>
    <td>tt</td>
    <td>tt</td>
    <td>tt</td>
    <td>
      <a class="btn">
        <i class="fa fa-edit"></i>
      </a>
    </td>
    <td>
      <a class="btn text-danger">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>tt</td>
    <td>tt</td>
    <td>tt</td>
    <td>
      <a class="btn">
        <i class="fa fa-edit"></i>
      </a>
    </td>
    <td>
      <a class="btn text-danger">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
</div>
